
<div class="ui breadcrumb">
    <a class="section" href="/">Queues</a>
    <div class="divider"> / </div>
    <a class="section" href="/queues/{{.Queue}}">{{.Queue}}</a>
    <div class="divider"> / </div>
    <a class="section" href="/queues/{{.Queue}}/messages/{{.Message.ID}}">{{.Message.ID}}</a>
  </div>
  
  <div class="ui divider"></div>


<!-- <button class="ui mini primary basic button"><i class="pause icon"></i> Pause Message</button> -->
<!-- <button class="ui mini negative basic button"><i class="trash icon"></i> Delete Message</button> -->

<table class="ui celled table">
    <tbody>
    <tr>
        <td>Status</td>
        <td>{{.Message.Status}}</td>
    </tr>
    <tr>
        <td>k/v</td>
        <td>
            {{range $k, $v := .Message.KeyValues}}
            <b>{{$k}}:</b> {{$v}}
            {{end}}
        </td>
    </tr>
    <tr>
        <td>Deliver At</td>
        <td>{{.Message.DeliverAt}}</td>
    </tr>
    <tr>
        <td>Last Delivered</td>
        <td>{{.Message.DeliveredAt}}</td>
    </tr>
    <tr>
        <td>Delivery Attempts</td>
        <td>{{.Message.Tries}}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td style="word-break: break-word;">
            {{printf "%s" .Message.Message}}
        </td>
    </tr>

    {{ if .Message.IsB64 }}
    <tr>
        <td>Base64 Decoded</td>
        <td> {{printf "%s" .Message.Base64Decode}}</td>
    </tr>
    {{end}}
   
    </tbody>

</table>
