
<div class="ui breadcrumb">
    <a class="section" href="/">Queues</a>
</div>

<div class="ui divider"></div>

<p>
    Select a queue to view messages.
</p>

<form method="POST" action="/queues">
    <div class="ui action input">
        <input type="text" name="queue" placeholder="new-queue-name">
        <button class="ui secondary button">Create Queue</button>
    </div>
</form>

<table class="ui table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Messages</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        {{range .Queues}}
        <tr>
            <td><a href="/queues/{{.Name}}">{{.Name}}</a></td>
            <td> {{.Count}}</td>
            <td>
                <a class="ui mini basic button" href="/queues/{{.Name}}/settings"><i class="cog icon"></i> Settings</a>
                <a class="ui mini basic button" href="/queues/{{.Name}}/delete"><i class="trash icon"></i> Delete</a>

                <!-- <form method="post" action="/queues/{{.Name}}/delete" style="display:inline;">
                    <button class="ui mini negative basic button">Delete</button>
                </form> -->
            </td>
        </tr>
        {{end}}
    </tbody>
</table>