
<div class="ui breadcrumb">
    <a class="section" href="/">Queues</a>
    <div class="divider"> / </div>
    <a class="section" href="/queues/{{.Queue}}">{{.Queue}}</a>
  </div>

  <div class="ui divider"></div>

<div class="ui grid">

    <div class="sixteen wide column">
        <div class="ui pointing secondary menu">
            <a class="item active" href="/queues/{{.Queue}}">Messages</a>
            <a class="item" href="/queues/{{.Queue}}/settings">Settings</a>
        </div>
    </div>

    <div class="sixteen wide column">
        <div class="ui statistics">
            <div class="ui small statistic">
                <div class="value">
                    {{index $.Stats.Counts 1}}
                </div>
                <div class="label">
                    Queued
                </div>
            </div>
            <div class="ui small statistic">
                <div class="value">
                    {{index $.Stats.Counts 2}}
                </div>
                <div class="label">
                    Processing
                </div>
            </div>
            <div class="ui small statistic">
                <div class="value">
                    {{index $.Stats.Counts 3}}
                </div>
                <div class="label">
                    Failed
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <p>Search for a specific message by ID, or filter based on key/value pairs.</p>
        <form method="GET" action="/queues/{{.Queue}}">
            <div class="ui fluid action input">
                <input name="filter" type="text" placeholder="1795068458442948608 user_id=123 message_type=email" value="{{.Filter}}">
                <button type="submit" class="ui button">Filter</button>
            </div>
        </form>
    </div>
    <div class="sixteen wide column">
        <table class="ui celled table">
            <thead>
              <tr><th>ID</th>
              <th>Status</th>
              <th>k/v</th>
              <th>Message</th>
            </tr></thead>
            <tbody>
            {{range .Messages}}
              <tr>
                <td valign="top">
                    <a href="/queues/{{$.Queue}}/messages/{{.ID}}">{{.ID}}</a>
                </td>
                <td valign="top">{{.Status}}</td>
                <td valign="top">
                    {{range $k, $v := .KeyValues}}
                    <b>{{$k}}:</b> <nobr>{{$v}}</nobr>
                    {{end}}
                </td>
                <td style="word-break: break-word;" valign="top">
                    {{ if .IsB64 }}
                    <div class="ui small label">b64</div>
                    {{end}}
                    {{printf "%s" .Base64Decode}}
                </td>
              </tr>
            {{end}}
            </tbody>
          </table>
    </div>
</div>
